# cp timetrackrs.service ~/.config/systemd/user/
# systemctl --user enable --now timetrackrs
[Unit]
Description=track pc usage rs

[Service]
ExecStart=/usr/bin/env timetrackrs
SyslogIdentifier=timetrackrs
Restart=on-failure
RestartSec=20

[Install]
WantedBy=default.target