# cp trbtt.service ~/.config/systemd/user/
# systemctl --user enable --now trbtt
[Unit]
Description=track pc usage rs

[Service]
Environment=DATABASE_URL=%h/.config/trbtt/activity.sqlite3
ExecStart=%h/.cargo/bin/trbtt-capture x11
Restart=on-failure
RestartSec=20

[Install]
WantedBy=default.target
